{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %} 


{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<header class="bgimg" id="home">
  <div class="text-center">
    <span class=" text-center" style="font-size:70px">The Honey Hive</span>

  </div>
  <div class="text-center">

    <span class="text-center" style="font-size:50px"> Natural & Organic Bee products</span>
  </div>

  <div class="text-center">
    <h4>
      <a href="{% url 'products' %}" class="shop-now-button btn btn-md rounded-pill text-uppercase hvr-grow py-3">Shop Now</a>
    </h4>
  </div>

</header>

<!-- About Container -->
<div class="container mt-5" id="about">

  <div class="content">

    <h3 class="text-center">About The Honey Hive</h3>

  </div>

  <div class="text-center">
    <p>
      The Honey Hive was founded in summer 2021 to bring you the finest sourced home made bee products that are on the
      market.
      We wanted to create one space for you to shop all your favourate bees waz products in one place.
    </p>

    <div class="text-center">
      <p>
        <i>
          We strive to deliver the best Bee's wax candles, Bees wax vegan food wraps and the best skin care.
        </i>
      </p>
      <div class="text-center">
        <p>
          We work with the best creators and brands in the market and hand pick the products we know you will love!
        </p>

      </div>
    </div>

    <div class="text-center">
      <h4>
        <a href="{% url 'products' %}" class="shop-now-button btn btn-md rounded-pill text-uppercase hvr-grow py-3">Shop Now</a>
      </h4>
    </div>

    <div class="text-center">
      <h4>
        <a href="{% url 'products' %}" class="shop-now-button btn btn-md rounded-pill text-uppercase hvr-grow py-3">Shop Now</a>
      </h4>
    </div>

  </div>
</div>
{% endblock %}