<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- All product tab on nav bar -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <!-- Candles tab on nav bar -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Candles
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=candles" class="dropdown-item">All candles</a>
                <a href="{% url 'products' %}?category=original" class="dropdown-item">Original beeswax candles</a>
                <a href="{% url 'products' %}?category=scented" class="dropdown-item">Scented candles</a>
            </div>
        </li>
        <!-- Skincare tab on nav bar -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Skincare
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=lip_balm" class="dropdown-item">Lip Balm</a>
                <a href="{% url 'products' %}?category=cleansers" class="dropdown-item">Cleansers</a>
                <a href="{% url 'products' %}?category=soap" class="dropdown-item">Soap</a>
                <a href="{% url 'products' %}?category=body" class="dropdown-item">Body</a>
            </div>
        </li>

    <!-- Vegan wraps tab on nav bar -->
    <li class="nav-item dropdown">
        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Vegan Wraps
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
            <a href="{% url 'products' %}?category=wraps" class="dropdown-item">Vegans wraps</a>
        </div>
    </li>
        <!-- Giftset tab on nav bar -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Gift Sets
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>